.App {
	display: grid;
	grid-template-columns: auto 200px;
	gap: 20px;
	max-width: 1000px;
	margin: 0 auto;
	min-height: 100vh;
	padding: 20px;
}

.Column {
	color: white;
}

.Title {
	padding: 20px;
	margin-bottom: 20px;
	border-radius: 10px;
	color: black;
	/* background-color: rgb(218, 255, 170); */
	background-color: #1b92bd;
}

.Content {
	height: calc(100vh - 200px);
	overflow-y: scroll;
	margin-bottom: 20px;
}

::-webkit-scrollbar {
	display: none;
}

.team-boxed .item {
	text-align: center;
}

@media (min-width: 768px) {
	.team-boxed .col-md-6 {
		display: flex;
		justify-content: center;
	}
}

.team-boxed .people {
	padding: 50px 0;
	display: flex;
	justify-content: center;
}

.team-boxed .item .box {
	text-align: center;
	padding: 50px; /* Increase padding for larger cards */
	background-color: #fff;
	margin-bottom: 30px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add shadow for better visual */
}

.team-boxed .item .name {
	font-weight: bold;
	margin-top: 20px; /* Adjust top margin for larger cards */
	margin-bottom: 8px;
	color: inherit;
}

.team-boxed .item .title {
	text-transform: uppercase;
	font-weight: bold;
	color: #d0d0d0;
	letter-spacing: 2px;
	font-size: 14px; /* Adjust font size for larger cards */
}

.team-boxed .item .description {
	font-size: 16px; /* Adjust font size for larger cards */
	margin-top: 15px;
	margin-bottom: 20px;
}

.team-boxed .item img {
	max-width: 200px; /* Increase max-width for larger cards */
}

.socials {
	text-align: center;
	font-size: 2rem;
	padding-top: 1.5rem;
}

.singleCol {
	max-width: 750px;
	margin: 0 auto;
}

.social-media-icons-white a {
	color: #124272;
	font-size: 2rem;
}

.app {
	background-color: #CAD4DF;
	display: flex;
	/* height: 100vh;
	overflow: hidden; */
}

.side-bar {
	background-color: #656E77;
	height: 100vh;
	width: 244px;
	display: flex;
	flex: 0 0 244px;
	flex-grow: 0;
	flex-direction: column;
	justify-content: space-between;
}

button {
	border: solid 0.5px rgba(255, 255, 255, 0.5);
	background-color: #31473a;
	border-radius: 5px;
	padding: 10px;
	margin: 10px;
}

nav.p {
	border-top: solid 0.5px rgba(255, 255, 255, 0.5);
	padding: 10px;
	margin: 10px;
}

.history {
	padding: 10px;
	margin: 10px;
	height: 100%;
}

.history li {
	list-style-type: none;
	padding: 15px 0;
	cursor: pointer;
}

.main {
	height: 100vh;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	text-align: center;
}

.info {
	color: rgba(255, 255, 255, 0.5);
	font-size: 11px;
	padding: 10px;
}

.bottom-section {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.input-container {
	position: relative;
	width: 100%;
	max-width: 650px;
}

input {
	width: 100%;
	border: none;
	font-size: 30px;
	background-color: rgba(255, 255, 255, 0.05);
	padding: 12px 15px;
	border-radius: 5px;
	box-shadow: rgba(0, 0, 0, 0.05) 0 54px 55px,
		rgba(0, 0, 0, 0.05) 0 -12px 30px, rgba(0, 0, 0, 0.05) 0 4px 6px,
		rgba(0, 0, 0, 0.05) 0 12px 3px, rgba(0, 0, 0, 0.05) 0 -3px 5px;
}

input:focus {
	outline: none;
}

#submit {
	position: absolute;
	bottom: 15px;
	right: 0;
	cursor: pointer;
}