.team-boxed .item {
	text-align: center;
}

@media (min-width: 768px) {
	.team-boxed .col-md-6 {
		display: flex;
		justify-content: center;
	}
}

.team-boxed .people {
	padding: 50px 0;
	display: flex;
	justify-content: center;
}

.team-boxed .item .box {
	text-align: center;
	padding: 50px; /* Increase padding for larger cards */
	background-color: #fff;
	margin-bottom: 30px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add shadow for better visual */
}

.team-boxed .item .name {
	font-weight: bold;
	margin-top: 20px; /* Adjust top margin for larger cards */
	margin-bottom: 8px;
	color: inherit;
}

.team-boxed .item .title {
	text-transform: uppercase;
	font-weight: bold;
	color: #d0d0d0;
	letter-spacing: 2px;
	font-size: 14px; /* Adjust font size for larger cards */
}

.team-boxed .item .description {
	font-size: 16px; /* Adjust font size for larger cards */
	margin-top: 15px;
	margin-bottom: 20px;
}

.team-boxed .item img {
	max-width: 200px; /* Increase max-width for larger cards */
}

.socials {
	text-align: center;
	font-size: 2rem;
	padding-top: 1.5rem;
}

.singleCol {
	max-width: 750px;
	margin: 0 auto;
}

.social-media-icons-white a {
	color: #124272;
	font-size: 2.5rem;
}